<div class = "container">
  <h1>This is the home page</h1>
  <p>You can find more about me using link below</p>
  <%# <a href="/about">About Me</a> %>
  <%= link_to "About me", about_path %> 
</div>

